Repository lallmon/lucent-designer: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-headers, qmlformat, qmllint, bake-shaders

add-headers:
  name: add-headers (SPDX license)
  entry: ./scripts/add_headers.sh
  language: script
  pass_filenames: true

qmlformat:
  name: qmlformat (PySide6)
  entry: pyside6-qmlformat
  language: python
  additional_dependencies:
  - PySide6==6.10.1
  args:
  - -i
  pass_filenames: true

qmllint:
  name: qmllint (PySide6)
  entry: pyside6-qmllint
  language: python
  additional_dependencies:
  - PySide6==6.10.1

bake-shaders:
  name: bake-shaders
  entry: ./scripts/bake_shaders.sh
  language: script
  pass_filenames: false

fix (rotation): normalize rotation
  components/panels/TransformPanel.qml
  src/lucent/canvas_model.py
  tests/test_canvas_model_transforms.py
Due: add-headers, qmlformat, qmllint

ux (transforms): changed to text boxes
  components/panels/TransformPanel.qml
Due: add-headers, qmlformat, qmllint

fix (zoom): make it more progressive
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

chore (coverage): add tests for unit conversions.
  tests/test_units.py
Due: add-headers

chore (coverage): increase patch coverage percent
  tests/test_canvas_renderer.py
  tests/test_unit_settings.py
Due: add-headers

feature (units): change measurement/dpi units of the document canvas (#132)
  App.qml
  components/Canvas.qml
  components/Viewport.qml
  components/controls/SpinBoxLabeled.qml
  components/panels/StatusBar.qml
  components/panels/TransformPanel.qml
  components/tools/EllipseTool.qml
  components/tools/RectangleTool.qml
  main.py
  src/lucent/canvas_renderer.py
  src/lucent/document_manager.py
  src/lucent/unit_settings.py
  src/lucent/units.py
  tests/test_canvas_renderer.py
  tests/test_unit_settings.py
  tests/test_units.py
Due: add-headers, qmlformat, qmllint

fix (build): pyproject.toml (#134)
  pyproject.toml
Due: none

fix (build): pyproject.toml
  pyproject.toml
Due: none

fix (build): pyproject.toml (#136)
  pyproject.toml
Due: none

chore (build): add script for local linux testing
  .gitignore
Due: none

feature (grid): toggle grid
  components/MenuBar.qml
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

feature (grid): more consistent and performant lines (#138)
  components/Viewport.qml
  components/shaders/grid.frag
  components/shaders/grid.frag.qsb
Due: add-headers, qmlformat, qmllint, bake-shaders

feature (rulers): inital feature
  components/MenuBar.qml
  components/Ruler.qml
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

fix (ruler): styles
  components/Ruler.qml
Due: add-headers, qmlformat, qmllint

feature (grid): grid units change to correct
  components/Ruler.qml
  components/Viewport.qml
  components/panels/StatusBar.qml
  src/lucent/unit_settings.py
Due: add-headers, qmlformat, qmllint

fix (performance): tweaks
  components/Ruler.qml
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

fix (performance): tick regeneration
  components/Ruler.qml
Due: add-headers, qmlformat, qmllint

fix (grid): stop relying on fallback
  components/Viewport.qml
  components/shaders/grid.frag
  components/shaders/grid.frag.qsb
  components/shaders/grid.vert
  components/shaders/grid.vert.qsb
  main.py
Due: add-headers, qmlformat, qmllint, bake-shaders

fix (selection): not clearing selections
  components/Canvas.qml
Due: add-headers, qmlformat, qmllint

fix (performance): render culling
  src/lucent/canvas_renderer.py
  tests/test_canvas_renderer.py
Due: add-headers

feature (performance): spatial indexing tree
  src/lucent/canvas_model.py
  src/lucent/canvas_renderer.py
  src/lucent/quadtree.py
  tests/test_canvas_renderer.py
  tests/test_quadtree.py
  tests/test_spatial_index_integration.py
Due: add-headers

feature (pan/zoom): improvements
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

chore (coverage): fix flaky tests
  tests/test_integration.py
Due: add-headers

fix (tooltips): add shortcuts and tooltips to all tools
  App.qml
  components/tools/ToolPalette.qml
Due: add-headers, qmlformat, qmllint

feature (tooltips): selected tool gives instructions in status bar
  App.qml
  components/ToolRegistry.qml
  components/panels/StatusBar.qml
  components/qmldir
  components/tools/ToolPalette.qml
Due: add-headers, qmlformat, qmllint

feature (app): open app window maximized
  App.qml
Due: add-headers, qmlformat, qmllint

feature (UX): polish the edges of the app (#148)
  App.qml
  assets/appIcon.png
  components/HeaderBar.qml
  components/MenuBar.qml
  components/ToolRegistry.qml
  components/Viewport.qml
  components/dialogs/AboutDialog.qml
  components/panels/DebugPanel.qml
  components/panels/RightPanel.qml
  components/panels/StatusBar.qml
  components/qmldir
  components/tools/ToolPalette.qml
  main.py
  src/lucent/unit_settings.py
  tests/test_unit_settings.py
Due: add-headers, qmlformat, qmllint

fix (cancel): cancel correctly
  components/Canvas.qml
  components/tools/PenTool.qml
Due: add-headers, qmlformat, qmllint

feature (bezier): edit path tools
  components/Canvas.qml
  components/PathEditOverlay.qml
  components/SelectionManager.qml
  components/Viewport.qml
  components/qmldir
  components/tools/SelectTool.qml
Due: add-headers, qmlformat, qmllint

fix (points): move multiple points
  components/Canvas.qml
Due: add-headers, qmlformat, qmllint

fix (bounds): selection bounds correctly updated after edit
  components/Canvas.qml
Due: add-headers, qmlformat, qmllint

fix (handles): collinear handle manipluation exept with mod key
  components/Canvas.qml
  components/PathEditOverlay.qml
  components/Viewport.qml
Due: add-headers, qmlformat, qmllint

feature (UX): add Inter font as app font
  assets/fonts/Inter-VariableFont_opsz,wght.ttf
  main.py
Due: add-headers

feature (UX): add Inter font as app font (#154)
  assets/fonts/Inter-VariableFont_opsz,wght.ttf
  main.py
Due: add-headers

fix (multiselect): bounding box issue
  components/SelectionManager.qml
Due: add-headers, qmlformat, qmllint

fix (dragging): polluting history every frame
  src/lucent/canvas_model.py
Due: add-headers

fix (pen tool) handle sizing
  App.qml
  components/tools/PenTool.qml
Due: add-headers, qmlformat, qmllint

fix (renderer): use vulkan but fall back to OpenGL on Linux)
  main.py
Due: add-headers

feature (ux): enable tabbing to different fields in transform box
  components/panels/TransformPanel.qml
Due: add-headers, qmlformat, qmllint

Path conditions:
  add-headers: any of: \.(py|qml|frag|vert|geom|comp|tesc|tese)$
  qmlformat: any of: \.qml$
  qmllint: any of: \.qml$
  bake-shaders: any of: ^components/shaders/.*\.(vert|frag|geom|comp|tesc|tese)$
