Repository lallmon/lucent-designer: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-headers, qmlformat, qmllint, bake-shaders

add-headers:
  name: add-headers (SPDX license)
  entry: ./scripts/add_headers.sh
  language: script
  pass_filenames: true

qmlformat:
  name: qmlformat (PySide6)
  entry: pyside6-qmlformat
  language: python
  additional_dependencies:
  - PySide6==6.10.1
  args:
  - -i
  pass_filenames: true

qmllint:
  name: qmllint (PySide6)
  entry: pyside6-qmllint
  language: python
  additional_dependencies:
  - PySide6==6.10.1

bake-shaders:
  name: bake-shaders
  entry: ./scripts/bake_shaders.sh
  language: script
  pass_filenames: false

feature (ux): enable tabbing to different fields in transform box (#158)
  components/panels/TransformPanel.qml
Due: add-headers, qmlformat, qmllint

fix (UX): canvas panning is now a global mouse control (#160)
  components/Canvas.qml
  components/Viewport.qml
  components/tools/SelectTool.qml
Due: add-headers, qmlformat, qmllint

fix (ux): better document bar
  components/HeaderBar.qml
Due: add-headers, qmlformat, qmllint

fix (bezier): always show bezier handles in edit mode
  components/PathEditOverlay.qml
Due: add-headers, qmlformat, qmllint

fix (bezier): click off to exit edit mode
  components/tools/SelectTool.qml
Due: add-headers, qmlformat, qmllint

fix (UX): improve the usage of the bezier curve editor (#164)
  components/PathEditController.qml
  components/PathEditOverlay.qml
  components/ToolRegistry.qml
  components/panels/StatusBar.qml
  components/tools/PenTool.qml
  components/tools/SelectTool.qml
  src/lucent/pen_tool_state.py
  tests/test_pen_tool_state.py
Due: add-headers, qmlformat, qmllint

feature (stroke controls): inital commit for stroke editor controls
  components/controls/StrokeEditorButton.qml
  components/qmldir
  components/tools/EllipseToolSettings.qml
  components/tools/PenToolSettings.qml
  components/tools/RectangleToolSettings.qml
  src/lucent/appearances.py
  tests/test_appearances_gpu.py
Due: add-headers, qmlformat, qmllint

feature (align stroke): initial attempt
  components/controls/StrokeControls.qml
  components/controls/StrokeEditorButton.qml
  components/tools/EllipseTool.qml
  components/tools/EllipseToolSettings.qml
  components/tools/PenTool.qml
  components/tools/PenToolSettings.qml
  components/tools/RectangleTool.qml
  components/tools/RectangleToolSettings.qml
  components/tools/TwoPointToolHelper.qml
  src/lucent/appearances.py
  src/lucent/item_schema.py
  tests/test_appearances.py
Due: add-headers, qmlformat, qmllint

fix (alignment): stroke alignment.
  src/lucent/texture_cache.py
  tests/test_texture_cache.py
Due: add-headers

chore (refactor): preview drawing now uses renderer
  components/Canvas.qml
  components/TiledShapesLayer.qml
  components/tools/EllipseTool.qml
  components/tools/PenTool.qml
  components/tools/RectangleTool.qml
  components/tools/ToolLoader.qml
  src/lucent/scene_graph_renderer.py
  tests/test_scene_graph_renderer.py
Due: add-headers, qmlformat, qmllint

fix (pen): change to sensible defaults
  components/tools/PenToolSettings.qml
Due: add-headers, qmlformat, qmllint

feature (stroke): stroke cap types.
  components/controls/StrokeControls.qml
  components/controls/StrokeEditorButton.qml
  components/tools/EllipseTool.qml
  components/tools/EllipseToolSettings.qml
  components/tools/PenTool.qml
  components/tools/PenToolSettings.qml
  components/tools/RectangleTool.qml
  components/tools/RectangleToolSettings.qml
  components/tools/TwoPointToolHelper.qml
  src/lucent/appearances.py
  src/lucent/item_schema.py
  tests/test_appearances.py
Due: add-headers, qmlformat, qmllint

chore (coverage): improve test coverage
  tests/test_appearances.py
Due: add-headers

chore (coverage): increase coverage
  tests/test_scene_graph_renderer.py
Due: add-headers

fix (path editing): overlay was aligning to the path when rotated/scaled (#166)
  components/Canvas.qml
  components/PathEditController.qml
  components/PathEditOverlay.qml
  components/Viewport.qml
  src/lucent/canvas_model.py
  src/lucent/item_schema.py
  tests/test_canvas_model_transforms.py
Due: add-headers, qmlformat, qmllint

fix (flatten): flattening transforms was losing curves (#167)
  src/lucent/model_geometry.py
  tests/test_canvas_model_transforms.py
Due: add-headers

chore (backwands compat): remove backwards compatibility
  components/Canvas.qml
  src/lucent/canvas_items.py
  src/lucent/canvas_model.py
  src/lucent/item_schema.py
  tests/test_canvas_model_transforms.py
  tests/test_item_schema.py
  tests/test_transform_panel_model.py
Due: add-headers, qmlformat, qmllint

chore (codecov): reduce patch coverage to 80%
  codecov.yaml
Due: none

refactor (editing): move towards a node editor tool
  src/lucent/canvas_model.py
  src/lucent/edit_context.py
  tests/test_edit_context.py
Due: add-headers

refactor (editing): move towards a node editor tool (#169)
  src/lucent/canvas_model.py
  src/lucent/edit_context.py
  tests/test_edit_context.py
Due: add-headers

feature (corners): discreet corner modifier control
  components/tools/RectangleToolSettings.qml
Due: add-headers, qmlformat, qmllint

fix (move): wasn't moving correctly
  src/lucent/canvas_model.py
  tests/test_canvas_contracts.py
  tests/test_canvas_model_grouping.py
  tests/test_move_items.py
Due: add-headers

feature (Rectangle Tool): can explicitly control radii on corners of rectangle. (#170)
  components/tools/RectangleTool.qml
  components/tools/RectangleToolSettings.qml
  src/lucent/canvas_items.py
  src/lucent/canvas_model.py
  src/lucent/exporter.py
  src/lucent/geometry.py
  src/lucent/item_schema.py
  tests/test_canvas_contracts.py
  tests/test_canvas_model_coverage.py
  tests/test_canvas_model_grouping.py
  tests/test_exporter.py
  tests/test_geometry.py
  tests/test_geometry_extended.py
  tests/test_item_schema_extended.py
  tests/test_move_items.py
Due: add-headers, qmlformat, qmllint

chore (refactor): unused tests
  src/lucent/canvas_model.py
  tests/test_canvas_contracts.py
  tests/test_canvas_model_grouping.py
  tests/test_canvas_model_transforms.py
Due: add-headers

refactor (transforms): move out of the canvas model (#171)
  components/Canvas.qml
  components/PathEditController.qml
  components/panels/TransformPanel.qml
  src/lucent/canvas_model.py
  src/lucent/transform_service.py
  tests/test_canvas_contracts.py
  tests/test_canvas_model_grouping.py
  tests/test_canvas_model_transforms.py
  tests/test_interaction_contracts.py
  tests/test_transform_service.py
Due: add-headers, qmlformat, qmllint

fix (stroke scaling): default to not scaling with the object
  components/controls/StrokeControls.qml
  components/controls/StrokeEditorButton.qml
  components/tools/EllipseTool.qml
  components/tools/EllipseToolSettings.qml
  components/tools/PenTool.qml
  components/tools/PenToolSettings.qml
  components/tools/RectangleTool.qml
  components/tools/RectangleToolSettings.qml
  components/tools/TwoPointToolHelper.qml
  src/lucent/appearances.py
  src/lucent/item_schema.py
  src/lucent/texture_cache.py
  tests/test_appearances.py
  tests/test_item_schema.py
Due: add-headers, qmlformat, qmllint

fix (artboard): simplify artboard with outline
  components/tools/ArtboardTool.qml
  src/lucent/canvas_items.py
  src/lucent/canvas_model.py
  src/lucent/document_manager.py
  src/lucent/texture_cache.py
  tests/test_layer_panel_integration.py
  tests/test_scene_graph_renderer.py
  tests/test_texture_cache.py
Due: add-headers, qmlformat, qmllint

fix (locked): children can be selected on a locked artboard
  src/lucent/hierarchy.py
Due: add-headers

chore (coverage): increase test coverage
  tests/test_exporter.py
Due: add-headers

feature (exports): improve exporting of artboards and formats (#174)
  components/dialogs/ExportDialog.qml
  src/lucent/document_manager.py
  src/lucent/exporter.py
  tests/test_document_manager.py
  tests/test_exporter.py
Due: add-headers, qmlformat, qmllint

fix (codecov): update yaml for better reporting
  codecov.yaml
Due: none

chore (readme): update readme
  README.md
Due: none

Path conditions:
  add-headers: any of: \.(py|qml|frag|vert|geom|comp|tesc|tese)$
  qmlformat: any of: \.qml$
  qmllint: any of: \.qml$
  bake-shaders: any of: ^components/shaders/.*\.(vert|frag|geom|comp|tesc|tese)$
